@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: #415fe1;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#image {
  text-decoration: none;
}

#image figcaption {
  color: #fff;
}

#image:hover figcaption {
  color: black;
}

#pantera {
  margin-top: 1vw;
  margin-left: 20vw;
  margin-bottom: 1vw;
}
